#container {
  position: absolute;
  left:200px;
  top: 0;
  margin: 40px;
  width: 750px;
}
    
#main {
  width: 450px;
}

#button-panel {
  margin-bottom: 10px;
  padding: 3px;
  border: 1px dashed #666;
}

.button-set {
  margin:0;
  padding:0;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px dotted #666;
}

.clear {
  clear : both;
}

#config-panel #generators {
  margin-bottom : 5px;
}

#config-panel table {
  background-color: yellow;
  border: 1px dotted #333;
  border-collapse : collapse;
  width : 450px;
}

#config-panel table input[type="range"] {
  height : 18px;
  width  : 100%;
}

#config-panel table td, #config-panel table tr {
  text-align: right;
  padding : 0px 5px 0px;
  margin : 1px;
}

#config-panel table tr td:first-child {
  width: 150px;
  text-align: right;
}
#log, #library {
  padding : 5px;
  height: 100px;
  width : 450px;
  text-wrap: suppress;
  overflow: scroll;
  overflow-style:marquee-line;
  font-family:monospace;
  border: 1px #000 dashed; 
}

#stuff {
  margin-bottom : 10px;
}
#libload {
  width: 370px;
}